.home-page {
   
    flex: 0.8;
    background-color: rgb(173, 252, 224);
    padding: 40px 20px;
    padding-bottom: 0;

}

.home-page > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}