.sidebarRow {
    display: flex;
    align-items: center;
}



.sidebar-title {
flex: 1;
margin-left: 20px;
font-size: large !important;
font-weight: 500;
padding: 2px;
}

.sidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}

.sidebarRow:hover > .sidebarIcon {
    color: #64afe8
}

.sidebarRow:hover > .sidebar-title {
    font-weight: bold;
    color: rgb(37, 138, 118);
}

.sidebarRow.selected {
background-color: rgb(244, 235, 249);
}
