.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #faf9fb;
}
.logo {
height: 27px;
margin-left: 20px;
object-fit: contain;
}
.input-container {
    display: flex;
    align-items: center;
    width: 30%;
    border: 1px solid #d3d3d3;

}

.special-icons {
display: flex;
align-items: center;
}

.iconic {
    margin-right: 10px;
}

.input-container > input {
    flex: 1;
    border: none;
}

.input-button {
width: 50px !important;
background-color: #f6f0fa;
border-left: 1px solid #d3d3d3;
color: #3e0884;
}


.menu-icon :before {
    color: #d423cb !important;
    }